*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 
        "nav"
        "section"
        "main"
        "footer";
    grid-template-rows: 50px 60px 1fr 60px;
    width: 100%;
}

nav{
    grid-area: nav;
}

nav .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 10px;
}
nav p{
    color: #33363d;
}

nav .logo-menu{
    display: flex;
    gap: 10px;
}

nav .logo-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img{
    width: 30px;
}

section{
    grid-area: section;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

section input{
    padding: 5px;
    border: none;
    border-radius: 15px;
    height: 25px;
    width: 90%;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

main .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

main .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 30px;
    margin: 15px;
    background-color: white;
}
main .cards .card img{
    width: 230px;
}

main .info{
    padding-top: 30px;
    padding-bottom: 30px;
}
main .cards .card .comprar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

main button{
    width: 100px;
    height: 30px;
    background-color: orangered;
    border: none;
    border-radius: 20px;
    color: white;
}

/*  */


